#page4 > div:nth-child(1) {
	top: 9vh;
	left: 0;
	width: 75vw;
	height: 45.5vh;
}
#page4 > div:nth-child(2) {
	top: 54.5vh;
	left: 0;
	width: 75vw;
	height: 45.5vh;
}
#page4 > div:nth-child(3) {
	top: 9vh;
	left: 75vw;
	width: 25vw;
	height: 91vh;
}