* {
	font-family: 'Nunito';
	font-size: 1.9vmin;
	box-sizing: border-box;
	margin: 0;
}
body {
	padding: 0;
	overflow-x:hidden;
}
.hide1 { display:none; }

body > div {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}
#navbar {
	background: #313131;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1vw;
}
#navbar > div {
	color: white;
	font-weight: bold;
	font-size: 2.5vh;
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	margin-left: -3vw;
}
#navbar > img {
	flex: 0 0 auto;
	height: 3.5vh;
}
.title1 {
	font-weight: bold;
	font-size: 2.5vh;
	position: absolute;
	top: 5vh;
	left: 0;
	width: 100vw;
	height: 4vh;
	display: flex;
	align-items: center;
	padding: 0 1vw;
	border-top: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
}
.title1 > select {
	font-weight: bold;
	font-size: 2.5vh;
	border: none;
}

.ct2 {
	position: absolute;
	top: 9vh;
	left: 0;
	width: 100vw;
	height: 91vh;
}