* {
	font-family: 'Nunito';
	box-sizing: border-box;
	margin: 0;
}
body {
	padding: 0;
	overflow-x:hidden;
}
.hide1 { display:none; }

body > div {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}
#navbar {
	background: #313131;
	width: 100%;
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1vw;
}
#navbar > div {
	color: white;
	font-weight: bold;
	font-size: 2.5vh;
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	margin-left: -3vw;
}
#navbar > img {
	flex: 0 0 auto;
	height: 3.5vh;
}
.title1 {
	font-weight: bold;
	font-size: 2vh;
	width: 100%;
	height: 4vh;
	display: flex;
	align-items: center;
	padding: 0 1vw;
	border-top: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
}
.title2 {
	font-weight: bold;
	font-size: 1.7vh;
	height: 4vh;
	display: flex;
	align-items: center;
	padding: 1vh 0.5vw;
}

.slider-checkbox {
	width: 0;
	height: 0;
	opacity: 0;
}

#card1, #card2, #card3, #card4, #card5, #card6 {
	height: 43.5vh;
	/*display: flex;*/
	/*flex-direction: colum;*/
	/*align-items: center;*/
	/*justify-content: center;*/
	padding: 0.5vh 0.5vw;
}
#card1, #card4 {
	width: 45%;
}
#card2, #card5 {
	width: 25%;
	border-left: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
}
#card3, #card6 {
	width: 30%;
}

#slider1 {
	position: absolute;
	margin-top: -27vh;
	margin-left: 24vw;
}
#slider1 > input:checked ~ .slider1:before {
	content: 'Monthly';
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
}
.slider1 {
	background: #ccc;
	border-radius: 7px;
	cursor: pointer;
	font-size: 1.3vmin;
	font-weight: bold;
	padding: 0.1vmin 0.7vmin;
	display: flex;
	gap: 1.3vmin;
	position: absolute;
	margin-top: -2.5vmin;
	margin-left: -6.5vmin;
}
.slider1:before {
	background: rgb(55,189,187);
	border-radius: 7px;
	color: white;
	content:'Weekly';
	cursor:pointer;
	font-size: 1.3vmin;
	font-weight: bold;
	padding: 0.1vmin 0.7vmin;
	position:absolute;
	margin-left: -0.5vmin;
	-webkit-transition: .4s;
	transition: .4s;
}

.sla-tabel {
	border-collapse: collapse;
	width: 100%;
	height: 9vh;
}
.sla-tabel td {
	height: 100%;
	padding: 1px;
}
.sla-tabel td:first-child {
	font-size:1.5vh;
	font-weight: bold;
	height: 5.5vh;
	padding-left: 1vw;
}
.sla-tabel td:not(:first-child) {
	/*border:1px solid #D9D9D9;*/
}
.sla-tabel td > div {
	height: 100%;
	color: white;
	border-radius: 5px;
	display: grid;
	grid-template-columns:1fr 1fr;
	align-items: center;
	gap: 0.1vw;
	padding: 0 0.5vw;
	font-size:1.2vh;
}
.sla-tabel td > div > div:first-child {
	grid-column: 1 / 3;
	font-weight: bold;
}

#card4 > div {
	width: 97%;
	height: 97%;
	margin: auto;
	padding:1vh 1vw;
	display: grid;
	grid-template-columns: auto repeat(6,1fr);
	gap: 1px;
}
#card4 > div > div {
	font-size: 2vh;
	padding:0.5vh 0.5vw;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
#card4 > div > div > div {
	background: #477F9F;
	border-radius: 5px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding:0.5vh 0.5vw;
}
