* {
	box-sizing: border-box;
	font-family: 'Nunito';
	font-family: 'Inter';
	font-size: 1.5vmin;
	margin: 0;
}

#navtop {
	background: #2B2B2B;
	color: #ffffff;
	font-weight: bold;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 9vh;
	padding: 1vh 1vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#navtop > select {
	background: #2B2B2B;
	color: #ffffff;
	border: none;
	font-size: 2vh;
	height: 3.5vh;
	padding: 0.3vh 1vw;
}
#navtop option {
	font-size: 2vh;
}
#navtop > div:nth-child(2) {
	flex: 1 1 auto;
	font-size: 2.5vh;
	line-height: 3.75vh;
	text-align: center;
}
#navtop > img {
	height: 4.5vh;
}
.tabel1 {
	border-collapse: collapse;
	width: 100%;
}
.tabel1, .tabel1 th, .tabel1 td {
	border: 1.5px solid white;
	cursor: default;
}
.tabel1 th {
	background: #477F9F;
	color: #f0f0f0;
	font-weight: bold;
	padding: 0 0.5vw;
	position: sticky;
	top: 0;
	text-align: center;
}
.tabel1 td {
	background: #F4F5F6;
	padding: 0 0.5vw;
	text-align: center;
}
.tabel1 tr.subrow > td:first-child {
	background: #ffffff;
	padding: 0 0 0 0.5vw;
}
.tabel1 tr.subrow > td:last-child {
	background: #ffffff;
	padding: 0 0.5vw 0 0;
}
.tabel1 tr.subrow td div {
	background: #F4F5F6;
	height: 100%;
}